<ion-view view-title="Sobre">
    <ion-content class="padding">
        <div class="list card">

            <div class="item item-avatar">
                <img src="content/img/innovation-logo.png">

                <h2>Innovation Groups</h2>
                
                <p>CWI Software, <span ng-controller="AboutCtrl">{{ currentDate | date:'yyyy'}}</span></p>                
            </div>

            <div class="item item-body about-container">
                <img class="full-image" src="content/img/innovation-baner.png">
                <h4>Developed with <i class="icon ion-heart"></i> by NERDs</h4>
                <p style="margin-bottom: 20px;">
                    Somos um grupo que busca adquirir e disseminar conhecimento sobre os mais diversos tipos
                    de técnologia.
                </p>                
                <p>
                    Fique atento aos próximos encontros, qualquer um pode participar! <span class="smile">:)</span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>