<ion-view view-title="Detalhes">
    <ion-content class="padding detalhes">
        <div class="list card">

            <div class="item item-avatar">
                <img src="content/img/avatar.png">
                <h2>{{::ownerInfo.driver}}</h2>
                <p>Placa: {{::ownerInfo.licensePlate}}</p>
            </div>

            <div class="item item-body">
                <div class="item item-icon-left">
                    <i class="icon ion-model-s"></i>
                    {{::ownerInfo.vehicleType}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-person-stalker"></i>
                    {{::ownerInfo.team}}
                </div>
                <div class="item item-icon-left">
                    <i class="icon ion-ios-at"></i>
                    <a href="mailto:{{::ownerInfo.login}}@cwi.com.br">{{::ownerInfo.login}}@cwi.com.br</a>
                </div>
                <div ng-if="ownerInfo.personalNumber" class="item item-icon-left">
                    <i class="icon ion-ios-telephone"></i>
                    Nº Pessoal: <a href="tel: {{::ownerInfo.personalNumber}}">{{::ownerInfo.personalNumber}}</a>
                </div>
                <div ng-if="ownerInfo.comercialNumber" class="item item-icon-left">
                    <i class="icon ion-ios-telephone"></i>
                    Ramal: {{::ownerInfo.comercialNumber}}
                </div>
            </div>

            <!--<div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item">
            <i class="icon ion-speakerphone"></i>
            Notificar
        </a>
    </div>-->

</div>
</ion-content>
</ion-view>
