<ion-view view-title="Início">
    <ion-content>
        <form>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Informe a placa" ng-model="vehicle.licensePlate">
                </label>
            </div>
        </form>

        <div class="list padding">
            <a class="item item-avatar" data-ui-sref="app.details({licensePlate: vehicle.licensePlate})"
               ng-repeat="vehicle in vehicles | orderBy:sortType:false | filter:vehicle">

                <h2><strong>{{ vehicle.licensePlate }}</strong> - {{ vehicle.vehicleType }}</h2>

                <p>{{ vehicle.driver }}</p>
            </a>
        </div>
    </ion-content>
</ion-view>